* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.body {
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
}

.article {
    width: 320px;
    min-height: 720px;
    background: #F7F7F7;
    margin: 40px;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.2s;
    border: lightgray 1px solid;
}

.article__header {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px 10px;
}

.article__header__title, .article__header__duration {
    display: block;
}

.article__header__title, .article__header__verified {
    font-weight: 400;
}

.article__header__duration {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}

.article__header__verified {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    font-size: 15px;
    align-items: center;
}

.article__header__verified__img {
    width: 20px;
    height: 20px;
}

.article__banner {
    align-items: center;
}

.article__banner__link {
    position: relative;
    bottom: 50px;
    left: 20%;
    align-content: center;
    background: rgba(255,255,255,0.9);
    color: #353333;
    padding: 10px 40px;
    border: lightgray 2px solid;
    border-radius: 20px;
    text-decoration: none;
}

.article__footer {
    font-weight: 200;
    padding: 0 10px 10px 10px;
}